baseurl:
url: "https://www.matthewdardet.com"
title: Matthew E. Dardet
subtitle: content-centric blogging
author: Matthew E. Dardet
simple_search: http://google.com/search
description: Ph.D. student in Government at Harvard University researching survey methodology, public opinion, and political psychology
name: tufte
markdown: kramdown
kramdown:
  input: GFM
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
permalink: /articles/:short_year/:title
timezone: America/New_York
excerpt_separator: <!--more-->  # you can specify your own separator, of course.
exclude: ['Gemfile', 'Gemfile.lock', 'Rakefile', 'UploadToGithub.Rakefile', 'README.md']
post:
  template: _post.txt
  extension: md
page:
  template: _page.txt
  extension: md
editor: gvim
git:
  branch: master
transfer:
  command: rsync
  settings: -av