<!--- Header and nav template site-wide -->
<header>
    <nav class="group">
		<a href="https://www.matthewdardet.com/"><img class="badge" src="{{site.baseurl}}/assets/img/badge_1.jpg" alt="Matthew E. Dardet"></a>
		<a href="https://github.com/matthewdardet">Code</a>
		<a href="https://www.matthewdardet.com/assets/MatthewDardetCV.pdf">CV</a>
		<a href="http://www.matthewdardet.com/harvard-election-analytics-2024/">Election Analytics 2024</a>
		<!-- <a href="https://www.matthewdardet.com/Notes & Writing">Notes & Writing</a> -->
        <!-- <a href="mailto:matthewdardet@g.harvard.edu"><span class="icon-mail3"></span></a> -->
	</nav>
</header>