<!--- Header and nav template site-wide -->
<header>
    <nav class="group">
		<a href="https://www.matthewdardet.com/"><img class="badge" src="{{site.baseurl}}/assets/img/badge_1.jpg" alt="Matthew E. Dardet"></a>
		<a href="{{site.baseurl}}/Research" src = "{{site.baseurl}}/Research">Research</a>
		<a href="https://github.com/matthewdardet">Code</a>
		<a href="assets/(CV) Matthew E. Dardet.pdf">CV</a>
		<a href="https://scholar.google.com/citations?user=p5FGWZYAAAAJ&hl=en">Google Scholar</a>
                <li><a href="mailto:matthewdardet@g.harvard.edu"><span class="icon-mail3"></span></a></li>
  		<li><a href="https://twitter.com/MatthewDardet><span class="icon-twitter"></span></a></li>
	</nav>
</header>